section {
  text-align: center;
}
.material-icons {
  vertical-align: middle;
}

.info {
  margin: 1rem 0 -6rem 0;
}
.info h3,
.info h5 {
  margin-top: 1rem;
  font-weight: 700;
}
.info .text {
  margin: 3rem 0;
}


#qrcode {
  width: fit-content;
  margin: 0 auto;
}


/* 버튼 */
.btn-end {
  text-align: center;
  margin-top: 2rem;
}
.btn-end input {
  padding: 6px 30px;
  background: #ee8b7a;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  outline: none;
  box-shadow: 1px 2.5px 0 rgb(0,0,0,0.5);
}
.btn-end input:active {
  position: relative;
  top:2px;
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}