<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-webgazer-config">
        <canvas id="plotting_canvas" width="500" height="500" style="cursor:crosshair;"></canvas>

        <script src="./assets/webgazer/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="./assets/webgazer/node_modules/sweetalert/dist/sweetalert.min.js"></script>

        <script src="./assets/webgazer/js/main.js"></script>
        <script src="./assets/webgazer/js/calibration.js"></script>
        <script src="./assets/webgazer/js/precision_calculation.js"></script>
        <script src="./assets/webgazer/js/precision_store_points.js"></script>
    </div>
</html>