<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="./assets/css/createExam.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <div th:replace="./fragments/navbar.html :: fragment-navbar"></div>

    <div class="login-box">
        <div class="login-form">
            <h1>Create Exam</h1>
            <form id="form" method="post" onsubmit="return false;">
                <!--시험 제목 입력 폼-->
                <div class="int-area">
                    <input type="text" name="title" id="title" autocomplete="off" required>
                    <label for="title">Title</label>
                </div>
                <!--시험 시작 시각, 제한 시각 입력 폼-->
                <div class="int-area">
                    <input type="datetime-local" name="startTime" id="startTime" autocomplete="off" required>
                    <label for="startTime">시작 시각</label>
                </div>
                <div class="int-area">
                    <input type="datetime-local" name="endTime" id="endTime" autocomplete="off" required>
                    <label for="endTime">제한 시각</label>
                </div>
                
                <div class="notice"><span class="material-icons">add_circle_outline</span> &nbsp; 버튼을 눌러 시험문제를 하나씩 추가하세요.</div>
                <div class="buttons">
                </div>
                <div class="buttonA">      
                    <input type="button" class="btnAdd" value="+"><br>        
                </div>

                <div class="btn-area">
                    <button id="submit-btn" type="submit">시험 생성</button>
                </div>
            </form>
        </div>
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div th:replace="./fragments/config.html :: fragment-config"></div>
    <script src="./assets/js/createExam.js"></script>

</body>
</html>