<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
    <link href="./assets/css/exam.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
</head>

<body>
    <script defer src="./assets/webgazer/webgazer.js"></script>
    <script src="./assets/js/index.js" defer></script>
    <script type="text/javascript" src="./assets/js/exam.js" defer></script>

    <!-- ======= Header ======= -->
    <div th:replace="./fragments/navbar.html :: fragment-navbar"></div>

    <main id="main">
        <div class="row py-3">
            <div class="side_c" id="side_i">
                <div class="nav flex-column" id="sidebar-nav">
                    <div class="notice-box">
                        <p class="notice">ㅡ ㅡ ㅡ 감독관 공지사항 ㅡ ㅡ ㅡ <br/>-- <br/>-- <br/>-- </p>
                    </div>
                    <div class="time-box">
                        <input type="hidden" id="examStartTime" th:value="${examStartTime}" />
                        <input type="hidden" id="examEndTime" th:value="${examEndTime}" />
                        <input type="hidden" id="examTime" th:value="${examTime}" />
                        <div class="exam-timer">
                            <div id="var" class="time-title list1"></div>
                            <div class="time title">
                                <span class="hours"></span>
                                <span class="col">:</span>
                                <span class="minutes"></span>
                                <span class="col">:</span>
                                <span class="seconds"></span>
                            </div>
                        </div>
                    </div>
                    <div class="button text-center">
                        <a href="#" class="btn btn-primary">질문하기</a>
                        <a href="#" class="btn btn-dark" id="end-btn">끝내기</a>
                    </div>
                </div>
            </div>
            <div class="col" id="exam">
                <!-- 서버로부터 문제 목록 받음 -->
                <input type="hidden" id="questions" th:value="${examQuestions}" />
                <!-- answer 입력 폼 예시 (class="answer") -->
<!--                <textarea rows="8" cols="85" class="answer"></textarea>-->
<!--                <textarea rows="8" cols="85" class="answer"></textarea>-->
            </div>
        </div>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div th:replace="./fragments/config.html :: fragment-config"></div>
</body>
</html>