<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
</head>

<body>
    <!-- ======= Header ======= -->
    <div th:replace="./fragments/navbar.html :: fragment-navbar"></div>

    <div class="login-box">
        <div class="login-form">
            <h1>WELCOME!</h1>
            <div th:if="${loginError}" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
            <form action="/login" method="post">
                <div class="int-area">
                    <input type="email" name="username" id="username" autocomplete="off" required>
                    <label for="username">Username (email address)</label>
                </div>
                <div class="int-area">
                    <input type="password" name="password" id="password" autocomplete="off" required>
                    <label for="password">Password</label>
                </div>
                <div class="btn-area">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="caption" id="sign-up-btn" onclick="location.href='/signup'">Sign Up</div>
        </div>
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script>
        let username = $('#username');
        let password = $('#password');
        let btn = $('#btn');

        $(btn).on('click', function () {
            if (username.val() == "") {
                username.next('label').addClass('warning');
            } else if (password.val() == "") {
                password.next('label').addClass('warning');
            }
        });
    </script>
    <div th:replace="./fragments/config.html :: fragment-config"></div>
</body>
</html>