<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="./fragments/header.html :: fragment-header"></div>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="./fragments/navbar.html :: fragment-navbar"></div>

<h1>AWS S3 파일 업로드 테스트</h1> <hr>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
  파일 : <input type="file" name="file"> <br>
  <button>등록하기</button>
</form>

<div th:replace="./fragments/config.html :: fragment-config"></div>
</body>
</html>