<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
    <!--setting page header file-->
    <meta charset="UTF-8">
    <link href="./assets/css/settingExam.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <script type="text/javascript" src="./assets/js/watchingList.js" defer></script>

    <!-- ======= Header ======= -->
    <div th:replace="./fragments/navbar.html :: fragment-navbar"></div>

    <div class="info-box">
        
        <div class="setting-title">
            <strong>시험정보</strong>
        </div>

        <table class="exam-board">
            <caption>시험정보테이블</caption>
            <tr>
                <td class="icon"><i class="fas fa-qrcode"></i></td>
                <td class="top">시험코드</td>
                <td class="content" th:text="${examCode}"></td>
            </tr>
            <tr>
                <td class="icon"><i class="far fa-edit"></i></td>
                <td class="top">시험제목</td>
                <td class="content" th:text="${examTitle}"></td>
            </tr>
            <tr>
                <td class="icon"><i class="far fa-clock"></i></td>
                <td class="top">시험시간</td>
                <td class="content" th:text="${#strings.substring(examStartTime, 0, 4) + '-' +
                         #strings.substring(examStartTime, 4, 6) + '-' + #strings.substring(examStartTime, 6, 8) + ' ' +
                         #strings.substring(examStartTime, 8, 10) + ':' + #strings.substring(examStartTime, 10, 12) +
                         '~' + #strings.substring(examEndTime, 8, 10) + ':' + #strings.substring(examEndTime, 10, 12)}"></td>
            </tr>
        </table>
    </div>

    <div class="setting-box">
        
        <div class="setting-title">
            <strong>응시목록</strong>
            <p>위 시험에 대한 응시자 정보를 확인할 수 있습니다.</p>
        </div>

        <div class="exam-list-box">
            <div class="exam-list">
                <div class="top">
                    <div class="num">No</div>
                    <div class="name">이름</div>
                    <div class="username">username(e-mail)</div>
                    <div class="video">응시영상시청</div>
                    <div class="answer">답안확인</div>
                </div>
            </div>
            <input type="hidden" id="testerInfo" th:value="${testerInfo}"/>
        </div>
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div th:replace="./fragments/config.html :: fragment-config"></div>

</body>
</html>