<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="./assets/css/watchingVideo.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <div th:replace="./fragments/navbar.html :: fragment-navbar"></div>


    <section>

    <div class="box">
      <div class="video">
        <video controls>
          <source src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4'>
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
      <div class="text">
        
        <div class="user">
          <div class="exam" th:text="${examTitle}"></div>
          <div class="info" th:text="${username}"></div>
        </div>

        <div class="stamp">
          <div class="time" th:each="stamp : ${timestamp}">
            <p class="str">[ 시선 이탈 ]</p>
            <p class="num" th:text="${stamp}"></p>
          </div>
        </div>

      </div>
    </div>

  </section>

    <script type="text/javascript" src="./assets/js/watchingVideo.js" defer></script>
    <div th:replace="./fragments/config.html :: fragment-config"></div>
</body>
</html>